<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplicationtercerbim">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationTercerBim">
        <activity
            android:name=".MainActivityDBlite"
            android:exported="false" />
        <activity
            android:name=".MainActivitylistaAgenda"
            android:exported="false" />
        <activity
            android:name=".MainActivitySharedPre"
            android:exported="false" />
        <activity
            android:name=".MainActivityrecivido"
            android:exported="false" />
        <activity
            android:name=".MainActivityLanzarJava"
            android:exported="false" />
        <activity
            android:name=".lanzarActivityParametro"
            android:exported="false" />
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivityProblemaSueldo"
            android:exported="false" />
        <activity
            android:name=".proyectjava"
            android:exported="false" />
        <activity
            android:name=".Principal"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>